#find-team-partial{
  .hero{

    .hero-head{

      /* btn */
      .btn {
        position: relative;
        color: white;
        width: 256px;
        height: 64px;
        line-height: 64px;
        transition: all 0.3s;
        span {
          transition: all 0.3s;
          tranform: scale(1, 1);
        }
      }

      .btn::before, .btn::after {
        content: '';
        position: absolute;
        transition: all 0.3s;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }

      /* MPS BTN */
      .mps-btn::before, .mps-btn::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        z-index: 1;
        transition: all 0.3s;
        border: 1px solid rgba(255, 255, 255, 0.5);
      }

      .mps-btn:hover::after {
        animation-name: rotatecw;
        animation-duration: 2s;
      }
      .mps-btn:hover::before {
        animation-name: rotateccw;
        animation-duration: 3s;
      }
      .mps-btn:hover::after, .mps-btn:hover::before {
        left: 35%;
        width: 64px;

        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }

      @keyframes rotatecw {
        from {transform: rotate(0deg);}
        to {transform: rotate(360deg);}
      }

      @keyframes rotateccw {
        from {transform: rotate(0deg);}
        to {transform: rotate(-360deg);}
      }
    }

    .hero-body{
      margin-left: 15%;
      margin-right: 15%;
      margin-bottom: 10%;

      .into-title{
        font-size: 60px;
        font-weight: lighter;
        color: #FFF;
        width: 100%;
      }

      .into-subtitle{
        font-size: 26px;
        margin-top: 2%;
        text-justify: auto;
        color: #8B8D8D;

        strong{
          color: #FFF;
        }
      }


      .box{
        width: 100%;

        //margin-bottom: 5%;

        input{
          @extend .ts-input;
        }

        .input-if-error{
          border-color: map_get($colors, danger);
        }

      }
    }
  }
}