#find-team-partial{
  .hero{
    background-color: map-get($colors, login-background);
    .hero-body{
      .box{
        width: 40%;
        margin-left: 30%;

        #find-team-btn{

          background-color: map-get($colors, confirm);
          border-bottom-color: map-get($colors, confirm-hue);
          padding: 10px;
          font-size: 14px;
          color: #FFF;
        }

        #create-team-btn{
          background-color: map-get($colors, alert);
          border-bottom-color: map-get($colors, alert-hue);
          color: #FFF;
        }
      }
    }
  }
}