<div id="all-users-schedule__component">
    <!-- FILTER BAR -->
    <div class="search-filter-bar has-text-centered">
        <div class="columns">
            <div class="column is-1">
                <i class="lnr lnr-magnifier"></i>
            </div>

            <div class="column is-11">
                <div class="field">
                    <p class="control">
                        <input class="input" type="text" ng-model="searchName">
                    </p>
                </div>
            </div>

        </div>
    </div>

    <div class="all-schedule-table">
        <div class="calendar">
            <div class="outer">
                <!--Days of week-->
                <table>
                    <thead>
                    <tr>
                        <th class="headcol"></th>
                        <th ng-repeat="day in days">{{day}}</th>
                    </tr>
                    </thead>
                </table>

                <div class="wrap">
                    <table class="offset">
                        <tbody>

                        <tr>
                            <td class="headcol"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr ng-repeat="hour in hours">
                            <td class="headcol">{{hour.hour}}</td><!--Hour-->
                            <td>
                                <div class="event" ng-repeat="user in hour.mon | filter:searchName" ng-click="toggleTags = !toggleTags">
                                    <i ng-hide="toggleTags" style="color: white; padding-top: 5px; font-size: 10px" class="lnr lnr-chevron-down is-pulled-right"></i>
                                    <i ng-show="toggleTags" style="color: white; padding-top: 5px; font-size: 10px" class="lnr lnr-chevron-up is-pulled-right"></i>
                                    <input id="check" type="checkbox" class="checkbox" />
                                    <label for="check"></label>
                                    {{user.name}}
                                    <div style="padding-top: 5px" class="tag-line" ng-show="toggleTags">
                                        <p class="tag" ng-repeat="tag in getMemberTags(tags, user._id)" style="background-color: {{tag.color}}; color: #FFF; margin-right: 1px">{{tag.name}}</p>
                                    </div>
                                </div>
                            </td><!-- Monday -->
                            <td>
                                <div class="event" ng-repeat="user in hour.tue | filter:searchName" ng-click="toggleTags = !toggleTags">
                                    <i ng-hide="toggleTags" style="color: white; padding-top: 5px; font-size: 10px" class="lnr lnr-chevron-down is-pulled-right"></i>
                                    <i ng-show="toggleTags" style="color: white; padding-top: 5px; font-size: 10px" class="lnr lnr-chevron-up is-pulled-right"></i>
                                    <input id="check" type="checkbox" class="checkbox" />
                                    <label for="check"></label>
                                    {{user.name}}
                                    <div style="padding-top: 5px" class="tag-line" ng-show="toggleTags">
                                        <p class="tag" ng-repeat="tag in getMemberTags(tags, user._id)" style="background-color: {{tag.color}}; color: #FFF; margin-right: 1px">{{tag.name}}</p>
                                    </div>
                                </div>
                            </td><!-- Tuesday -->
                            <td>
                                <div class="event" ng-repeat="user in hour.wed | filter:searchName" ng-click="toggleTags = !toggleTags">
                                    <i ng-hide="toggleTags" style="color: white; padding-top: 5px; font-size: 10px" class="lnr lnr-chevron-down is-pulled-right"></i>
                                    <i ng-show="toggleTags" style="color: white; padding-top: 5px; font-size: 10px" class="lnr lnr-chevron-up is-pulled-right"></i>
                                    <input id="check" type="checkbox" class="checkbox" />
                                    <label for="check"></label>
                                    {{user.name}}
                                    <div style="padding-top: 5px" class="tag-line" ng-show="toggleTags">
                                        <p class="tag" ng-repeat="tag in getMemberTags(tags, user._id)" style="background-color: {{tag.color}}; color: #FFF; margin-right: 1px">{{tag.name}}</p>
                                    </div>
                                </div>
                            </td><!-- Wednesday -->
                            <td>
                                <div class="event" ng-repeat="user in hour.thu | filter:searchName" ng-click="toggleTags = !toggleTags">
                                    <i ng-hide="toggleTags" style="color: white; padding-top: 5px; font-size: 10px" class="lnr lnr-chevron-down is-pulled-right"></i>
                                    <i ng-show="toggleTags" style="color: white; padding-top: 5px; font-size: 10px" class="lnr lnr-chevron-up is-pulled-right"></i>
                                    <input id="check" type="checkbox" class="checkbox" />
                                    <label for="check"></label>
                                    {{user.name}}
                                    <div style="padding-top: 5px" class="tag-line" ng-show="toggleTags">
                                        <p class="tag" ng-repeat="tag in getMemberTags(tags, user._id)" style="background-color: {{tag.color}}; color: #FFF; margin-right: 1px">{{tag.name}}</p>
                                    </div>
                                </div>
                            </td><!-- Thursday -->
                            <td>
                                <div class="event" ng-repeat="user in hour.fri | filter:searchName" ng-click="toggleTags = !toggleTags">
                                    <i ng-hide="toggleTags" style="color: white; padding-top: 5px; font-size: 10px" class="lnr lnr-chevron-down is-pulled-right"></i>
                                    <i ng-show="toggleTags" style="color: white; padding-top: 5px; font-size: 10px" class="lnr lnr-chevron-up is-pulled-right"></i>
                                    <input id="check" type="checkbox" class="checkbox" />
                                    <label for="check"></label>
                                    {{user.name}}
                                    <div style="padding-top: 5px" class="tag-line" ng-show="toggleTags">
                                        <p class="tag" ng-repeat="tag in getMemberTags(tags, user._id)" style="background-color: {{tag.color}}; color: #FFF; margin-right: 1px">{{tag.name}}</p>
                                    </div>
                                </div>
                            </td><!-- Friday -->
                            <td>
                                <div class="event" ng-repeat="user in hour.sat | filter:searchName" ng-click="toggleTags = !toggleTags">
                                    <i ng-hide="toggleTags" style="color: white; padding-top: 5px; font-size: 10px" class="lnr lnr-chevron-down is-pulled-right"></i>
                                    <i ng-show="toggleTags" style="color: white; padding-top: 5px; font-size: 10px" class="lnr lnr-chevron-up is-pulled-right"></i>
                                    <input id="check" type="checkbox" class="checkbox" />
                                    <label for="check"></label>
                                    {{user.name}}
                                    <div style="padding-top: 5px" class="tag-line" ng-show="toggleTags">
                                        <p class="tag" ng-repeat="tag in getMemberTags(tags, user._id)" style="background-color: {{tag.color}}; color: #FFF; margin-right: 1px">{{tag.name}}</p>
                                    </div>
                                </div>
                            </td><!-- Saturday -->
                            <td>
                                <div class="event" ng-repeat="user in hour.sun | filter:searchName" ng-click="toggleTags = !toggleTags">
                                    <i ng-hide="toggleTags" style="color: white; padding-top: 5px; font-size: 10px" class="lnr lnr-chevron-down is-pulled-right"></i>
                                    <i ng-show="toggleTags" style="color: white; padding-top: 5px; font-size: 10px" class="lnr lnr-chevron-up is-pulled-right"></i>
                                    <input id="check" type="checkbox" class="checkbox" />
                                    <label for="check"></label>
                                    {{user.name}}
                                    <div style="padding-top: 5px" class="tag-line" ng-show="toggleTags">
                                        <p class="tag" ng-repeat="tag in getMemberTags(tags, user._id)" style="background-color: {{tag.color}}; color: #FFF; margin-right: 1px">{{tag.name}}</p>
                                    </div>
                                </div>
                            </td><!-- Sunday -->
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>