$colors: (
        confirm:  #4DA1FF,
        confirm-hue: #C2DEFF,
        positive: #3DDC75,
        positive-hue: #9DEEB9,
        alert:    #EF9D05,
        alert-hue: #F2CE8A,
        default:  #4A4A4A,
        default-hue: #939393,
        danger:   #F11616,
        danger-hue: #E79090,

        main-background:    #F4F8F9,
        card-background:    #FFF,
        navbar-background: #FAFBFC,
        login-background: #212121,
);

$input-defs: (
        input-border-color: #EEF2F6,
        input-border-radius: 4px,
        input-box-shadow: none
)