.create-team {

  .hero {
    background-color: map-get($colors, login-background);
  }


  width: 500px;
  margin: auto;

  .card {
    border-radius: 8px;
  }

  .field{

    .button {
      @extend .ts-confirm-btn;
    }

    input{
      @extend .ts-input;
    }
  }
}