<section class="hero is-fullheight">
  <div class="hero-body">

    <div class="create-team">
      <div class="card">

        <div class="card-content">

          <br>
          <h2 class="title has-text-centered">Criar time</h2>
          <br>
          <br>

          <div class="field">

            <p class="ts-label">NOME DO TIME</p>
            <p class="control">
              <input class="input" type="text" ng-model="team">
            </p>

            <br>

            <p class="ts-label">NOME DO USUÁRIO ADMIN</p>
            <p class="control">
              <input class="input" type="text" ng-model="admin.name" placeholder="Nome pelo qual será chamado no time">
            </p>

            <br>

            <p class="ts-label">EMAIL DO ADMIN</p>
            <p class="control">
              <input class="input" type="email" ng-model="admin.email" placeholder="admin@email.com">
            </p>

            <br>

            <p class="ts-label">SENHA</p>
            <p class="control">
              <input class="input" type="password" ng-model="admin.password">
            </p>

            <br>

            <p class="ts-label">CONFIRMAR SENHA</p>
            <p class="control">
              <input class="input" type="password">
            </p>

            <br>

            <div class="columns">
              <div class="column">
                <a class="button is-pulled-right" ng-click="submit(team, admin)">Criar</a>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

  </div>
</section>