<section class="hero is-fullheight">
  <div class="hero-body">

    <div class="create-team">
      <div class="card">

        <div class="card-content">

          <div ng-if="messages.error" role="alert" class="text-danger" ng-click="messages.error = false">
            <div class="sweet-modal-icon sweet-modal-error animateErrorIcon">
				<span class="sweet-modal-x-mark animateXMark">
					<span class="sweet-modal-line sweet-modal-left "></span>
					<span class="sweet-modal-line sweet-modal-right"></span>
				</span>
            </div>
            <p class="has-text-centered" ng-repeat="error in messages.error">{{error.msg}}</p>
          </div>

          <br>
          <h2 class="title has-text-centered">Criar time</h2>
          <br>
          <br>

          <div class="field">

            <p class="ts-label">NOME DO TIME</p>
            <p class="control">
              <input class="input ts-input" type="text" ng-model="team" required>
            </p>

            <br>

            <p class="ts-label">NOME DO USUÁRIO ADMIN</p>
            <p class="control">
              <input class="input ts-input" type="text" ng-model="admin.name" placeholder="Nome pelo qual será chamado no time" required>
            </p>

            <br>

            <p class="ts-label">EMAIL DO ADMIN</p>
            <p class="control">
              <input class="input ts-input" type="email" ng-model="admin.email" placeholder="admin@email.com" required>
            </p>

            <br>

            <p class="ts-label">SENHA</p>
            <p class="control">
              <input class="input ts-input" type="password" ng-model="admin.password" required>
            </p>

            <br>

            <p class="ts-label">CONFIRMAR SENHA</p>
            <p class="control">
              <input class="input ts-input" type="password" ng-model="passwordConfirm" required>
            </p>

            <br>

            <div class="columns">
              <div class="column">
                <a class="button is-pulled-right ts-confirm-btn" ng-class="{'is-static': !team || !admin.name || !admin.email || !admin.password || admin.password != passwordConfirm}" ng-click="submit(team, admin)">Criar</a>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

  </div>
</section>