<div id="config__component">

    <div class="card">

        <div class="card-content">

            <div class="columns nav-left">
                <div class="column is-1">
                    <a class="button is-fullwidth" ng-click="goBackToTags()">Voltar</a>
                </div>
                <div class="column is-10 has-text-centered">
                    <h1 class="title">Criar/Editar Tag</h1>
                </div>
            </div>

            <br>
            <br>


            <div class="field">

                <div class="columns">
                    <div class="column">
                        <p class="ts-label">NOME DA TAG</p>
                        <p class="control">
                            <input class="input ts-input" type="text" ng-model="tag.name">
                        </p>
                    </div>


                    <div class="column">
                        <p class="ts-label">COR</p>
                        <p class="control">
                            <input class="input ts-input" type="text" placeholder="Exemplo: #FFFFFF" ng-model="tag.color">
                        </p>
                    </div>
                </div>

                <div class="column">
                    <p class="ts-label">DESCRIÇÃO DA TAG</p>
                    <p class="control">
                        <input class="input ts-input" type="text" ng-model="tag.description">
                    </p>
                </div>

                <br>

                <div class="columns nav-right">
                    <div class="column is-1">
                        <a class="button ts-confirm-btn is-fullwidth" ng-click="createTag(tag)">Salvar</a>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>