<div id="tags__component">

    <div class="card">

        <div class="card-content">

            <div class="field">

                <div class="columns">
                    <div class="column">
                        <p class="ts-label">NOME DO TIME</p>
                        <p class="control">
                            <input class="input ts-input" type="text" ng-model="team" value="Time exemplo">
                        </p>
                    </div>

                    <div class="column">
                        <p class="ts-label">QUANTIDADE DE HORAS SEMANAIS</p>
                        <p class="control">
                            <input class="input ts-input" type="text" value="20">
                        </p>
                    </div>
                </div>

                <br>

                <div class="columns">
                    <div class="column">
                        <a class="button is-pulled-right ts-confirm-btn">Salvar</a>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>