#tags__component {

  height: 86vh;
  margin-top: 5vh;
  margin-left: 5%;
  margin-right: 5%;


  .search-filter-bar {
    background-color: #333741;
    width: 100%;
    height: 50px;
    padding: 7px;
    border-radius: 8px;

    input {
      border-color: map_get($colors, nav-itens-color);
      color: #FFF;
      border-radius: 8px;
      background-color: #333741;
    }

    select{
      border-radius: 8px;
      border-color: map_get($colors, nav-itens-color);
      background-color: #333741;
      color: #FFF;
    }

    i{
      font-size: 25px;
      color: map_get($colors, nav-itens-color);
    }
  }

  .cards-section{
    .tags-card{
      background-color: #fcfcfc;
      border-radius: 8px;
      margin-bottom: 1%;

      .tag-name{
        @extend .is-pulled-left;
      }

      .tag-action{
        a{
          color: #212121;
          &:hover{
            color: map_get($colors, confirm);
          }
          i{
            font-size: 20px;
          }
        }
      }

      .tag-color{
        height: 15px;
        width: 100%;
        margin-top: 50px;
      }

      .user-list{
        .user-item{
          background-color: map_get($colors, navbar-background);
          padding: 5px;
          margin-top: 5px;
          border-radius: 4px;
        }
      }
    }

  }

}