<div id="tags__component">

    <!--Cards Section-->
    <div class="cards-section ">
        <div class="columns is-centered" ng-repeat="tag in tags" ng-if="$index % 2 == 0">

            <div class="tags-card column is-5" ng-click="goToTagMembers(tags[$index])">
                <p class="tag-info">
                    <span class="tag-name">{{tags[$index].name}}</span>
                    <br>
                    <span class="tag-description">Descrição: {{tags[$index].description}}</span>
                </p>
                <br>
                <div class="tag-color" style="background-color: {{tags[$index].color}}"></div>
            </div>

            <!-- Align adjust-->
            <div class="column is-1"></div>

            <!-- Ng if is for avoid empty cards-->
            <div class="tags-card column is-5" ng-if="tags.length > ($index + 1)" ng-click="goToTagMembers(tags[$index+1])">
                <p class="tag-info">
                    <span class="tag-name">{{tags[$index+1].name}}</span>
                    <br>
                    <span class="tag-description">Descrição: {{tags[$index+1].description}}</span>
                </p>

                <br>

                <div class="tag-color" style="background-color: {{tags[$index+1].color}}">
                </div>
            </div>

            <!--Correct align when data number is odd-->
            <div class="column is-5" ng-if="$index+1 === tags.length && tags.length % 2 !== 0"></div>

        </div>

    </div>
</div>
