#tags__component {

  height: 87.5vh;
  margin-top: 5vh;
  margin-left: 5%;
  margin-right: 5%;

  .card-tag-members{
    margin-left: 10%;
    margin-right: 10%;

    .user-list{
      .user-item{

        background-color: #c8c8c8;
        padding: 5px;
        margin-top: 5px;
        padding-left: 10px;
        border-radius: 4px;
      }
    }
  }

  .cards-section{
    .tags-card{
      background-color: #fcfcfc;
      border-radius: 8px;
      margin-bottom: 1%;
      cursor: pointer;

      .tag-info{
        @extend .is-pulled-left;
        .tag-name{
          font-weight: 300;
          font-size: 18px;
        }
        .tag-description{
          font-weight: 500;
          font-size: 13px;
        }
      }

      .tag-action{
        a{
          color: #212121;
          &:hover{
            color: map_get($colors, confirm);
          }
          i{
            font-size: 20px;
          }
        }
      }

      .tag-color{
        height: 15px;
        width: 100%;
        margin-top: 50px;
      }
    }

  }

}