<div id="tags__component">
    <!--Filter bar-->
    <div class="search-filter-bar has-text-centered">
        <div class="columns">
            <div class="column is-1">
                <i class="lnr lnr-magnifier"></i>
            </div>

            <div class="column is-11">
                <div class="field">
                    <p class="control">
                        <input class="input" type="text">
                    </p>
                </div>
            </div>
        </div>

    </div>

    <br>
    <br>

    <!--Cards Section-->
    <div class="cards-section ">
        <div class="columns is-centered" ng-repeat="tag in tags" ng-if="$index % 2 == 0">

            <div class="tags-card column is-5">
                <div class="tag-action is-pulled-right">
                    <a ng-click="showUsers = !showUsers"><i class="lnr lnr-users"></i></a>
                </div>

                <p class="tag-name">{{tags[$index].name}}</p>
                <div class="tag-color" style="background-color: {{tags[$index].color}}"></div>

                <div ng-if="showUsers" class="user-list" ng-repeat="user in tags[$index].members">
                    <p class="user-item">{{user.email}}</p>
                    {{user}}
                </div>
            </div>

            <!-- Align adjust-->
            <div class="column is-1"></div>

            <!-- Ng if is for avoid empty cards-->
            <div class="tags-card column is-5" ng-if="tags.length > ($index + 1)">
                <div class="tag-action is-pulled-right">
                    <a ng-click="showUsers1 = !showUsers1"><i class="lnr lnr-users"></i></a>
                </div>
                <p class="tag-name">{{tags[$index+1].name}}</p>
                <div class="tag-color" style="background-color: {{tags[$index+1].color}}">
                </div>

                <div ng-if="showUsers1" class="user-list" ng-repeat="user in tags[$index+1].members">
                    <p class="user-item">{{user.email}}</p>
                </div>
            </div>

            <!--Correct align when data number is odd-->
            <div class="column is-5" ng-if="$index+1 === tags.length && tags.length % 2 !== 0"></div>

        </div>

    </div>
</div>
