.ts-input {
  box-shadow: map_get($input-defs, input-box-shadow);
  border-color: map_get($input-defs, input-border-color);
  border-radius: map_get($input-defs, input-border-radius);
  font-size: 14px;
  padding: 20px;
  &:focus{
    border-color: map_get($colors, confirm);
  }
}

.ts-label{
  font-size: 10px;
}