<section class="hero is-fullheight">
  <div class="hero-body">

    <div class="join-confirm__component">
      <div class="card">

        <div class="card-content">

          <div role="alert" class="text-success">
            <div class="sweet-modal-icon sweet-modal-success animate">
              <span class="sweet-modal-line sweet-modal-tip animateSuccessTip"></span>
              <span class="sweet-modal-line sweet-modal-long animateSuccessLong"></span>
              <div class="sweet-modal-placeholder"></div>
              <div class="sweet-modal-fix"></div>
            </div>
          </div>

          <br>
          <h2 class="title has-text-centered">Você se inscreveu com sucesso no time!</h2>
          <br>
          <p class="subtitle has-text-centered">Aguarde a aprovação do administrador do time.</p>

          <br>
          <br>

          <a class="button is-fullwidth ts-confirm-btn" ng-click="goToFindTeam()">Retornar a tela incial</a>
        </div>
      </div>
    </div>

  </div>
</section>