.hero {
  background-color: map-get($colors, login-background);
}
.join-team {
  width: 500px;
  margin: auto;

  .card {
    border-radius: 5px;
  }

  .label {
    color: map-get($colors, default);
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 13px;
  }

  a {
    margin-top: 15px;
  }
}