#members__component {

  height: 87.5vh;
  margin-top: 5vh;
  margin-left: 5%;
  margin-right: 5%;

  .tabs{
    .is-active{
      a{
        background-color: map_get($colors, confirm);
        border-color: map_get($colors, confirm-hue);
      }
    }
  }

  .tabs.is-toggle a:hover{
    background-color: map_get($colors, navbar-background);
  }



  .cards-section{
    .member-card{
      background-color: #fcfcfc;
      border-radius: 8px;
      margin-bottom: 1%;
    }

    .tag{
      color: white;
      margin: 1px;
      border: 0.5px solid rgba(0,0,0,.1);
    }

    .top-actions{
      a{
        font-size: 12px;
        color: map_get($colors, danger);
        font-weight: bold;
      }
    }
  }

  .requests-section{
    .request-card{
      background-color: white;
      border-radius: 8px;
      margin-bottom: 1%;
    }

    .info-text{
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 5px;
      line-height: 1;
      max-width: 50%;
      max-height: 100%;
      padding: 20px 40px;
    }

    .actions{
      a{
        font-size: 12px;
        font-weight: bold;
        padding-right: 2px;
      }
      .accept-action{
        color: map_get($colors, positive);
      }
      .reject-action{
        color: map_get($colors, danger);
      }

      .block-action{
        color: map_get($colors, default);
      }
    }

  }
}