<div id="members__component">

    <!--Cards Section-->
    <div class="cards-section ">
        <div class="columns is-centered" ng-repeat="member in members" ng-if="$index % 2 == 0">

            <div class="member-card column is-5">
                <p class="member-name">{{members[$index].name}}</p>
                <p class="member-email"><strong>email:</strong>{{members[$index].email}}</p>
                <div class="tag-line is-pulled-right">
                    <p class="tag" ng-repeat="tag in getMemberTags(tags, members[$index]._id)" style="background-color: {{tag.color}}">{{tag.name}}</p>
                </div>
            </div>

            <!-- Align adjust-->
            <div class="column is-1"></div>

            <!-- Ng if is for avoid empty cards-->
            <div class="member-card column is-5" ng-if="members.length > ($index + 1)">
                <p class="member-name">{{members[$index+1].name}}</p>
                <p class="member-email"><strong>email:</strong>{{members[$index+1].email}}</p>
                <div class="tag-line is-pulled-right">
                    <p class="tag" ng-repeat="tag in getMemberTags(tags, members[$index+1]._id)" style="background-color: {{tag.color}}">{{tag.name}}</p>
                </div>
            </div>

            <!--Correct align when data number is odd-->
            <div class="column is-5" ng-if="$index+1 === members.length && members.length % 2 !== 0"></div>

            <br>
        </div>

    </div>
</div>
