#members__component {

  height: 86vh;
  margin-top: 5vh;
  margin-left: 5%;
  margin-right: 5%;

  .search-filter-bar {
    background-color: map_get($colors, card-background);
    width: 100%;
    height: 50px;
    padding: 6px;
    border-radius: 8px;

    input {
      box-shadow: map_get($input-defs, input-box-shadow);
      border-color: map_get($input-defs, input-border-color);
      border-radius: map_get($input-defs, input-border-radius);
    }

    i{
      font-size: 25px;
    }
    
    .tabs{
      .is-active{
        a{
          background-color: map_get($colors, confirm);
          border-color: map_get($colors, confirm-hue);
        }
      }
    }
  }



  .cards-section{
    .member-card{
      background-color: white;
      border-radius: 8px;
      margin-bottom: 1%;
    }

    .tag{
      color: white;
      margin: 1px;
    }
  }

  .requests-section{
    .request-card{
      background-color: white;
      border-radius: 8px;
      margin-bottom: 1%;
    }

    .actions{
      .accept-action{
        color: map_get($colors, positive);
      }
      .reject-action{
        color: map_get($colors, danger);
      }

      .block-action{
        color: map_get($colors, default);
      }
    }

  }
}