$colors: (
        confirm:  #4DA1FF,
        confirm-hue: #C2DEFF,
        positive: #3DDC75,
        positive-hue: #9DEEB9,
        alert:    #EF9D05,
        alert-hue: #F2CE8A,
        default:  #4A4A4A,
        default-hue: #939393,
        danger:   #F11616,
        danger-hue: #E79090,

        //main-background:    #F4F8F9,
        //navbar-background: #FAFBFC,
        main-background-from:    #2A2D35,
        main-background-to: #444955,
        card-background:    #FFF,
        navbar-background: #293041,
        login-background: #212121,


        logo-text-color: #01C9FF,
        nav-itens-color: #7F9BCB
);

$input-defs: (
        input-border-color: #BDBDBD,
        input-border-radius: 4px,
        input-box-shadow: none
);

@mixin gradient-background($from, $to){
  background: $from; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($from, $to); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($from, $to); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($from, $to); /* For Firefox 3.6 to 15 */
  background: linear-gradient($from, $to); /* Standard syntax */
}