<section class="hero is-fullheight">
  <div class="hero-body">

    <div class="team-info__component">
      <div class="card">

        <div class="card-content">

          <br>
          <h2 class="title has-text-centered">Time Criado com Sucesso!</h2>
          <br>
          <br>

          <p>Nome do time: {{team.name}}</p>
          <p>ID do time: {{team.id}}</p>

          <br>
          <br>

          <a class="button is-fullwidth ts-confirm-btn" ng-click="goToLogin(team.id)">Logar no time</a>
        </div>
      </div>
    </div>

  </div>
</section>