<section class="hero is-fullheight">
  <div class="hero-body">

    <div class="join-team">
      <div class="card">

        <div class="card-content">

          <div class="field">

            <label class="label">EMAIL</label>
            <p class="control">
              <input class="input" type="email" ng-model="user.email" placeholder="admin@email.com">
            </p>

            <label class="label">NOME DO USUÁRIO</label>
            <p class="control">
              <input class="input" type="text" ng-model="user.login" placeholder="Nome pelo qual será chamado no time">
            </p>

            <label class="label">SENHA</label>
            <p class="control">
              <input class="input" type="password" ng-model="user.password">
            </p>

            <label class="label">CONFIRMAR SENHA</label>
            <p class="control">
              <input class="input" type="password">
            </p>

            <a class="button is-fullwidth is-info" ng-click="submit()">CRIAR</a>

          </div>

        </div>
      </div>
    </div>

  </div>
</section>