<section class="hero is-fullheight">
  <div class="hero-body">

    <div class="join-team">
      <div class="card">

        <div class="card-content">

          <div ng-if="messages.error" role="alert" class="text-danger" ng-click="messages.error = false">
            <div class="sweet-modal-icon sweet-modal-error animateErrorIcon">
				<span class="sweet-modal-x-mark animateXMark">
					<span class="sweet-modal-line sweet-modal-left "></span>
					<span class="sweet-modal-line sweet-modal-right"></span>
				</span>
            </div>
            <p class="has-text-centered" ng-repeat="error in messages.error">{{error.msg}}</p>
          </div>

          <br>
          <h2 class="title has-text-centered">Inscrever-se em {{team.name}}</h2>
          <br>
          <br>

          <div class="field">
            <p class="ts-label">EMAILL</p>
            <p class="control">
              <input class="input ts-input" type="email" ng-model="user.email" placeholder="name@email.com">
            </p>

            <br>

            <p class="ts-label">NOME DO USUÁRIO</p>
            <p class="control">
              <input class="input ts-input" type="text" ng-model="user.name" placeholder="Nome pelo qual será chamado no time">
            </p>

            <br>

            <p class="ts-label">SENHA</p>
            <p class="control">
              <input class="input ts-input" type="password" ng-model="user.password">
            </p>

            <br>

            <p class="ts-label">CONFIRMAR SENHA</p>
            <p class="control">
              <input class="input ts-input" type="password" ng-model="confirmPassword">
            </p>

            <br>

            <a class="button is-fullwidth ts-confirm-btn" ng-class="{'is-static': !user.email || !user.name || !user.password || user.password != confirmPassword}" ng-click="submit(user)">Cadastrar-se</a>

          </div>

        </div>
      </div>
    </div>

  </div>
</section>