<section class="hero is-fullheight">
  <div class="hero-body">

    <div class="join-team">
      <div class="card">

        <div class="card-content">

          <br>
          <h2 class="title has-text-centered">Inscrever-se em {{team.name}}</h2>
          <br>
          <br>

          <div class="field">
            <p class="ts-label">EMAILL</p>
            <p class="control">
              <input class="input ts-input" type="email" ng-model="user.email" placeholder="name@email.com">
            </p>

            <br>

            <p class="ts-label">NOME DO USUÁRIO</p>
            <p class="control">
              <input class="input ts-input" type="text" ng-model="user.name" placeholder="Nome pelo qual será chamado no time">
            </p>

            <br>

            <p class="ts-label">SENHA</p>
            <p class="control">
              <input class="input ts-input" type="password" ng-model="user.password">
            </p>

            <br>

            <p class="ts-label">CONFIRMAR SENHA</p>
            <p class="control">
              <input class="input ts-input" type="password">
            </p>

            <br>

            <a class="button is-fullwidth ts-confirm-btn" ng-click="submit(user)">Cadastrar-se</a>

          </div>

        </div>
      </div>
    </div>

  </div>
</section>