#root_component{
  navbar{
    position: fixed;
    width: 100%;
    z-index: 1000;
  }

  .dash-pages{
    z-index: -1000;
    padding-top: 5%;
    @include gradient-background(map_get($colors, main-background-from), map_get($colors, main-background-to));
  }
}