
<div id="user-schedule__component">


    <div class="columns" style="width: 100%">
        <div class="column is-5">

            <p class="title" style="color: #FFF" ng-show="!isEditMode">
                Clique nos campos da tabela para adicionar horários
            </p>

            <p class="title" style="color: #FFF" ng-show="isEditMode">
                Clique em um horário já preenchido para removê-lo
            </p>

        </div>

        <div class="column is-5"></div>

        <div class="column is-2 ">
            <a class="button ts-confirm-btn is-fullwidth is-pulled-right" ng-click="isEditMode = !isEditMode" ng-class="{'ts-alert-btn': isEditMode}">
                <p ng-show="isEditMode">Finalizar Edição</p>
                <p ng-hide="isEditMode">Editar Horários</p>
            </a>
        </div>
    </div>


    <div class="schedule-table">
        <div class="calendar">
            <div class="outer">
                <!--Days of week-->
                <table>
                    <thead>
                    <tr>
                        <th class="headcol"></th>
                        <th ng-repeat="day in days">{{day}}</th>
                    </tr>
                    </thead>
                </table>
                {{hours}}
                <div class="wrap">
                    <table class="offset">
                        <tbody>

                        <tr>
                            <td class="headcol"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr ng-repeat="hour in hours">
                            <td class="headcol">{{hour.hour}}</td><!--Hour-->
                            <td ng-click="addHour(hour, 'mon')">
                                <div class="event" ng-repeat="user in hour.mon" ng-click="removeHour(hour, 'mon', user)">
                                    <input id="check" type="checkbox" class="checkbox" />
                                    <label for="check"></label>
                                    {{user}}
                                </div>
                            </td><!-- Monday -->
                            <td ng-click="addHour(hour, 'tue')">
                                <div class="event" ng-repeat="user in hour.tue" ng-click="removeHour(hour, 'tue', user)">
                                    <input id="check" type="checkbox" class="checkbox" />
                                    <label for="check"></label>
                                    {{user}}
                                </div>
                            </td><!-- Tuesday -->
                            <td ng-click="addHour(hour, 'wed')">
                                <div class="event" ng-repeat="user in hour.wed" ng-click="removeHour(hour, 'wed', user)">
                                    <input id="check" type="checkbox" class="checkbox" />
                                    <label for="check"></label>
                                    {{user}}
                                </div>
                            </td><!-- Wednesday -->
                            <td ng-click="addHour(hour, 'thu')">
                                <div class="event" ng-repeat="user in hour.thu" ng-click="removeHour(hour, 'thu', user)">
                                    <input id="check" type="checkbox" class="checkbox" />
                                    <label for="check"></label>
                                    {{user}}
                                </div>
                            </td><!-- Thursday -->
                            <td ng-click="addHour(hour, 'fri')">
                                <div class="event" ng-repeat="user in hour.fri" ng-click="removeHour(hour, 'fri', user)">
                                    <input id="check" type="checkbox" class="checkbox" />
                                    <label for="check"></label>
                                    {{user}}
                                </div>
                            </td><!-- Friday -->
                            <td ng-click="addHour(hour, 'sat')">
                                <div class="event" ng-repeat="user in hour.sat" ng-click="removeHour(hour, 'sat', user)">
                                    <input id="check" type="checkbox" class="checkbox" />
                                    <label for="check"></label>
                                    {{user}}
                                </div>
                            </td><!-- Saturday -->
                            <td ng-click="addHour(hour, 'sun')">
                                <div class="event" ng-repeat="user in hour.sun" ng-click="removeHour(hour, 'sun', user)">
                                    <input id="check" type="checkbox" class="checkbox" />
                                    <label for="check"></label>
                                    {{user}}
                                </div>
                            </td><!-- Sunday -->
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>