
<div id="user-schedule__component">


    <div class="columns" style="width: 100%">
        <div class="column is-7">
            <div class="tutorial-text"  ng-show="isEditMode">
                <i class="lnr lnr-magic-wand is-pulled-left" style="font-size: 50px; margin-right: 30px; color: white"></i>
                <p class="title" style="color: #FFF; font-size: 20px; font-weight: bold">
                    Clique em um campo vazio para adicionar um horário,
                    ou em um campo já preenchido para removê-lo.
                </p>
            </div>
        </div>

        <div class="column is-3"></div>

        <div class="column is-2 ">
            <a class="button ts-confirm-btn is-fullwidth is-pulled-right" ng-click="isEditMode = !isEditMode" ng-class="{'ts-alert-btn': isEditMode}">
                <p ng-show="isEditMode">Finalizar Edição</p>
                <p ng-hide="isEditMode">Editar Horários</p>
            </a>
        </div>
    </div>


    <div class="schedule-table">
        <div class="calendar">
            <div class="outer">
                <!--Days of week-->
                <table>
                    <thead>
                    <tr>
                        <th class="headcol"></th>
                        <th ng-repeat="day in days">{{day}}</th>
                    </tr>
                    </thead>
                </table>
                <div class="wrap">
                    <table class="offset">
                        <tbody>

                        <tr>
                            <td class="headcol"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr ng-repeat="hour in hours">

                            <!--Hour-->
                            <td class="headcol">{{hour.hour}}</td>

                            <!-- Monday -->
                            <td ng-click="editTableHour(hour, 'mon')">
                                <div class="event" ng-show="hour.mon" ng-click="removeHour(hour, 'mon')">
                                    <input id="check" type="checkbox" class="checkbox" />
                                    <label for="check"></label>
                                    {{user.name}}
                                </div>
                            </td>

                            <!-- Tuesday -->
                            <td ng-click="editTableHour(hour, 'tue')">
                                <div class="event" ng-show="hour.tue" ng-click="removeHour(hour, 'tue')">
                                    <input id="check" type="checkbox" class="checkbox" />
                                    <label for="check"></label>
                                    {{user.name}}
                                </div>
                            </td>

                            <!-- Wednesday -->
                            <td ng-click="editTableHour(hour, 'wed')">
                                <div class="event" ng-show="hour.wed" ng-click="removeHour(hour, 'wed')">
                                    <input id="check" type="checkbox" class="checkbox" />
                                    <label for="check"></label>
                                    {{user.name}}
                                </div>
                            </td>

                            <!-- Thursday -->
                            <td ng-click="editTableHour(hour, 'thu')">
                                <div class="event" ng-show="hour.thu" ng-click="removeHour(hour, 'thu')">
                                    <input id="check" type="checkbox" class="checkbox" />
                                    <label for="check"></label>
                                    {{user.name}}
                                </div>
                            </td>

                            <!-- Friday -->
                            <td ng-click="editTableHour(hour, 'fri')">
                                <div class="event" ng-show="hour.fri" ng-click="removeHour(hour, 'fri')">
                                    <input id="check" type="checkbox" class="checkbox" />
                                    <label for="check"></label>
                                    {{user.name}}
                                </div>
                            </td>

                            <!-- Saturday -->
                            <td ng-click="editTableHour(hour, 'sat')">
                                <div class="event" ng-show="hour.sat" ng-click="removeHour(hour, 'sat')">
                                    <input id="check" type="checkbox" class="checkbox" />
                                    <label for="check"></label>
                                    {{user.name}}
                                </div>
                            </td>

                            <!-- Sunday -->
                            <td ng-click="editTableHour(hour, 'sun')">
                                <div class="event" ng-show="hour.sun" ng-click="removeHour(hour, 'sun')">
                                    <input id="check" type="checkbox" class="checkbox" />
                                    <label for="check"></label>
                                    {{user.name}}
                                </div>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>