#schedule-table__directive {
  flex-direction: column;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-family: "DINPro", "Helvetica Neue", sans-serif;
  padding: 3rem;
  margin: 0;
  box-sizing: border-box;
  height: 91vh;

  .offset {

  }

  .outer {
    position:relative;
  }

  .calendar {
    margin: 0 auto;
    max-width: 1280px;
    min-width: 500px;
  }

  .wrap {
    overflow-x: hidden;
    overflow-y: scroll;
    max-width: 1280px;
    height: 500px;
  }

  thead {
    z-index: 2;
    background: white;
    border-bottom: 2px solid #ddd;

    & th{
      text-align: center;
      width: 100%;
      font-size: 1rem;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.9);
      padding: 1rem;
    }
  }

  tbody {
    position: relative;
    top: 100px;
  }

  table {
    background: #fff;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }

  .headcol {
    width: 60px;
    font-size: 0.875rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    padding: 0.25rem 0;
    text-align: center;
    border: 0;
    position: relative;
    top: -12px;
    border-bottom: 1px solid transparent;
  }

  tr, tr td {
    height: 20px;
  }
  td {
    text-align: center;
  }
  tr:nth-child(odd) td:not(.headcol) {
    border-bottom: 1px solid #e8e8e8;
  }

  tr:nth-child(even) td:not(.headcol) {
    border-bottom: 1px solid #eee;
  }

  tr td {
    border-right: 1px solid #eee;
    padding: 0;
    white-space: none;
    word-wrap: nowrap;
  }

  tbody tr td {
    position: relative;
    vertical-align: top;
    height: 40px;
    padding: 0.25rem 0.25rem 0 0.25rem;
    width: auto;

  }

  .secondary {
    color: rgba(0, 0, 0, 0.4);
  }


  .checkbox {
    display: none;
  }

  .checkbox + label {
    border: 0;
    outline: 0;
    width: 100px;
    heigth: 100px;
    background: white;
    color: transparent;
    display:block;
    display: none;
  }

  .checkbox:checked + label {
    border: 0;
    outline: 0;
    width: 100%;
    heigth: 100%;
    background: red;
    color: transparent;
    display: inline-block;
  }

  .event {
    background: #00B4FC;
    color: white;
    border-radius: 2px;
    text-align: left;
    font-size: 0.875rem;
    z-index: 2;
    padding: 0.5rem;
    overflow-x: hidden;
    transition: all 0.2s;
    cursor: pointer;
  }

  .event:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    background: #00B4FC;
  }

  .event.double {
    height: 100%;
  }

  td:hover:after {
    content: "+";
    vertical-align: middle;
    font-size: 1.875rem;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
  }

  .icon {
    font-size: 1.5rem;
    margin: 0 1rem;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    position: relative;
    top: -2px;
  }

  .icon:hover {
    color: red;
  }
}

