

.login__component {

  .hero {
    background-color: map-get($colors, login-background);
  }

  width: 500px;
  margin:auto;

  .card {
    border-radius: 8px;
  }

  .field{

    input{
      @extend .ts-input;
    }
  }
}