#config__component{

  height: 86vh;
  margin-top: 5vh;
  margin-left: 5%;
  margin-right: 5%;


  .card{
    margin: auto;
    border-radius: 8px;
    background-color: #fcfcfc;
  }

  input{
    background-color: #fcfcfc;
  }
}