<div id="config__component">

    <div class="card">

        <div class="card-content">


            <!--

            <br>
            <br>-->


            <!--<div class="sweet-modal-icon sweet-modal-warning pulseWarning">
                <span class="sweet-modal-body pulseWarningIns"></span>
                <span class="sweet-modal-dot pulseWarningIns"></span>
            </div>-->

            <div ng-if="messages.success" role="alert" class="text-success" ng-click="messages.success = false">
                <div class="sweet-modal-icon sweet-modal-success animate">
                    <span class="sweet-modal-line sweet-modal-tip animateSuccessTip"></span>
                    <span class="sweet-modal-line sweet-modal-long animateSuccessLong"></span>
                    <div class="sweet-modal-placeholder"></div>
                    <div class="sweet-modal-fix"></div>
                </div>
                <br>
                <p class="has-text-centered" ng-repeat="success in messages.success">{{success.msg}}</p>
            </div>

            <div ng-if="messages.error" role="alert" class="text-danger" ng-click="messages.error = false">
                <div class="sweet-modal-icon sweet-modal-error animateErrorIcon">
				<span class="sweet-modal-x-mark animateXMark">
					<span class="sweet-modal-line sweet-modal-left "></span>
					<span class="sweet-modal-line sweet-modal-right"></span>
				</span>
                </div>
                <p class="has-text-centered" ng-repeat="error in messages.error">{{error.msg}}</p>
            </div>

            <br>

            <h4>Informações do Perfil</h4>
            <br>
            <form ng-submit="updateProfile()" class="field">
                <div class="columns">
                    <div class="column">
                        <p for="name" class="ts-label">NOME</p>
                        <input class="input ts-input" type="text" name="name" id="name" ng-model="profile.name">
                    </div>
                    <div class="column">
                        <p for="email" class="ts-label">EMAIL</p>
                        <input class="input ts-input" type="email" name="email" id="email" ng-model="profile.email">
                    </div>
                </div>
                <button class="button ts-confirm-btn is-pulled-right" type="submit">Atualizar Perfil</button>
            </form>

            <br>
            <br>
            <br>

            <h4>Trocar a Senha</h4>
            <br>
            <form ng-submit="changePassword()" class="field">
                <div class="columns">
                    <div class="column">
                        <p for="password" class="ts-label">NOVA SENHA</p>
                        <input class="input ts-input" type="password" name="password" id="password" ng-model="profile.password">
                    </div>
                    <div class="column">
                        <p for="confirm" class="ts-label">CONFIRMAR SENHA</p>
                        <input class="input ts-input" type="password" name="confirm" id="confirm" ng-model="profile.confirm">
                    </div>
                </div>
                <button class="button ts-confirm-btn is-pulled-right" type="submit">Atualizar Senha</button>
            </form>

            <br>
            <br>

            <h4>Deletar Conta</h4>

            <form ng-submit="deleteAccount()">
                <p>Você pode deletar sua conta, mas leve em consideração que tal ação é irreverssível.</p>
                <button class="button ts-danger-btn" type="submit">Deletar Minha Conta</button>
            </form>

        </div>
    </div>

</div>