<div id="config__component">

    <div class="card">

        <div class="card-content">

            <div ng-if="messages.success" role="alert" class="text-success" ng-click="messages.success = false">
                <div class="sweet-modal-icon sweet-modal-success animate">
                    <span class="sweet-modal-line sweet-modal-tip animateSuccessTip"></span>
                    <span class="sweet-modal-line sweet-modal-long animateSuccessLong"></span>
                    <div class="sweet-modal-placeholder"></div>
                    <div class="sweet-modal-fix"></div>
                </div>
                <br>
                <p class="has-text-centered" ng-repeat="success in messages.success">{{success.msg}}</p>
            </div>

            <div ng-if="messages.error" role="alert" class="text-danger" ng-click="messages.error = false">
                <div class="sweet-modal-icon sweet-modal-error animateErrorIcon">
				<span class="sweet-modal-x-mark animateXMark">
					<span class="sweet-modal-line sweet-modal-left "></span>
					<span class="sweet-modal-line sweet-modal-right"></span>
				</span>
                </div>
                <p class="has-text-centered" ng-repeat="error in messages.error">{{error.msg}}</p>
            </div>

            <br>

            <h4 class="config-title">Informações do Perfil</h4>
            <br>
            <form ng-submit="updateProfile()" class="field">
                <div class="columns">
                    <div class="column">
                        <p for="name" class="ts-label">NOME</p>
                        <input class="input ts-input" type="text" name="name" id="name" ng-model="profile.name">
                    </div>
                    <div class="column">
                        <p for="email" class="ts-label">EMAIL</p>
                        <input class="input ts-input" type="email" name="email" id="email" ng-model="profile.email">
                    </div>
                </div>
                <button class="button ts-confirm-btn is-pulled-right" type="submit">Atualizar Perfil</button>
            </form>

            <br>
            <br>

            <div class="columns">
                <div class="column">
                    <h4 class="config-title">Informações do time</h4>
                    <br>
                    <p class="team-info"><strong>Nome do time:</strong> {{team.name}}</p>
                    <p class="team-info"><strong>Criado em:</strong> {{team.createdAt | date}}</p>
                    <p class="team-info"><strong>Id:</strong> {{team.id}}</p>
                </div>
                <div class="column">
                    <h4 class="config-title">Feedback</h4>

                        <textarea class="textarea ts-input" rows="4" ng-model="feedback"> </textarea>
                        <a class="button ts-confirm-btn is-pulled-right" ng-click="createFeedback(feedback)">Enviar feedback</a>

                </div>
            </div>

            <br>
        </div>
    </div>

</div>